nav{
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s;
}

#txt_nav_div{
    background-color: rgba(0, 0, 0, 0);
}

.nav-scrolled{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0, 0.15);
}


.cont{
    background-image: url(/assets/img/fondo_login.jpg);
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login{
    height: 500px;
    width: 30%;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #ffffff83;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    font-family: 'Quicksand', sans-serif;
}

#sesion{
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-top: 40px;
    font-size: 25px;
}

form{
    display: flex;
    height: 370px;
    width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form input[type="text"], input[type="password"]{
    outline: 0;
    border: 1px solid white;
    width: 80%;
    padding: 10px;
}

form label{
    font-weight: 500;
    padding: 10px;
    color: white;

}

.box-visible{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button{
    outline: 0;
    border: 0;
    background-color: bisque;
    margin-top: 60px;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    padding: 5px;
    transition: all .3 ease-in-out;
    text-align: center;
    color: black;
    font-weight: 500;
}

form button:hover{
    opacity: .75;
}


.error_div{
    color: rgb(161, 65, 65);
    display: flex;
}

.btn_form{
    outline: 0;
    border: 0;
    background-color: bisque;
    margin-top: 60px;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    padding: 5px;
    transition: all .3 ease-in-out;
    text-align: center;
    color: black;
    font-weight: 500;
}

.btn_form:hover{
    opacity: .75;
}
/* .input{
    background-color: transparent;
    height: 40px;
    border-radius: 10%;
    border-color: rgb(170, 159, 180);
    box-shadow: 0px 0px 10px 0.3px rgb(176, 217, 255);
} */