a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}



#title{
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#subtitle{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

#txt{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 20px;
}


.contenedor{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color:gainsboro;
    padding: 10px;;
}

.contenedor2{
    position: fixed;
    bottom: 4px;
    right: 4px;
    background-color:rgb(80, 80, 80);
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#icon{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#icon_lg{
    font-size: 40px;
    color: rgb(0, 0, 0);
    
}

nav{
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    z-index: 9999;
    
}

#div_menu-icon{
    background-color: rgba(46, 184, 124, 0);
    width: 30px;
    height: 60px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

#div_menu-icon2{
    background-color: rgba(208, 20, 20, 0);
    width: 80px;
    height: 60px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between;
}


#div_nav-logo{
    background-color: rgba(51, 43, 157, 0);
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

#div_logo{
    display: flex;
    justify-content: center;
}

#div_logo2{
    display: flex;
    justify-content: center;
    margin-right: 0px;
}
#logo{
    height: 90px;
    width: 90px;
}

#menu_icon{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#menu_icon:hover{
    color: gray;
}


#icon:hover{
    color: gray;
}

#icon_lg:hover{
    color: gray;
}
 

#txt_nav_div{

    background-color: rgb(0, 0, 0);
    width: 65px;
    height: 60px;
    margin-left: 0px;
    margin-right: 20px;
    display: flex;
    align-items: center;

}

#txt_nav{
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-top: -1px;
}


#bienv{
    background-image: url("/assets/img/fondo.jpg");
    background-repeat: repeat;
    height: 800px;
    background-size: 100%;
    width: 100%;
    font-size: 130px;
    color: rgba(255, 255, 255, 0.827);
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 13px;
    z-index: 0;
    
}

.contenedor_div2{
    height: 700px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}

.subtitulo{
    height: 70px;
    width: 100%;
    background-color: white;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.div_sub{
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}


#cont_cards{

    width: 100%;
    height: 400px;
    margin-top: -110px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: -100px;
}

#cards{
    height: 410px;
    width: 300px;
    margin-top: -80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    transition: 300ms; 
}


#cards:hover{
    box-shadow: 0px 0px 35px #000000;
    transform: scale(1.04);
}

#cont_foto1{

    margin-top: 25px;
    width: 250px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);/* 
    background-image: url(/assets/img/mic1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;


}

#prod{
    width: 250px;
    height: 160px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.name_prod{
    width: 250px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
}

.info_prod{
    margin-top: 15px;
    height: 100px;
    width: 240px;
    background-color: rgba(255, 255, 255, 0);
}

.txt_prod{
    font-size: 23px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.txt_info_prod{
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

#img_prod{
    width: 250px;
    height: 155px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}


#img_prod3{
    width: 250px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

#cont_foto2{

    margin-top: 25px;
    width: 250px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);/* 
    background-image: url(/assets/img/tecla.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}


#cont_foto3{

    margin-top: 25px;
    width: 250px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);/* 
    background-image: url(/assets/img/guitar.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}

.div_more{
    height: 40px;
    width: 100%;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    justify-content: end;
}

.more{

    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}


.cont_nosotros{
    height: 800px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.cont_1nos{
    height: 700px;
    width: 600px;
    background-color: rgba(78, 78, 78, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_2nos{
    height: 500px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    border-radius: 1%;
}

.pregunta_div{
    height: 650px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_me_div{
    height: 300px;
    width: 100%;
    background-color: rgba(155, 155, 155, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mas_about{
    height: 50px;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items:flex-start;
    justify-content: center;
}


.about_div_txt{
    height: 280px;
    width: 90%;
    background-color: rgba(38, 0, 88, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pregunta_txt{
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-left: 20px;
}

#about_txt{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    
}

footer{
    background-color: black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#div_footer1{
    background-color: rgba(255, 255, 255, 0);
    height: 90px;
    width: 550px;
    margin-left: 40px;
    display: flex;
    align-items: center;
}

#div_footer1_logo{
    background-color: rgba(0, 0, 0, 0);
    height: 90px;
    width: 90px;
}

#div_footer2_copy{

    background-color: rgba(0, 0, 0, 0);
    height: 90px;
    width: 400px;
    margin-left: 10px;
    display:flex;
    align-items: center;

}

#txt_footer{
    color: rgb(255, 253, 253);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

#div_redes{
    background-color: rgba(255, 255, 255, 0);
    width: 200px;
    height: 90px;
    margin-right: 40px;
    display: flex;
    align-items: center;
}

#div_ig{
    background: rgba(255, 255, 255, 0);
    height: 40px;
    width: 40px;
    margin-left: 20px;
    border-radius: 30%;
}


#div_ig:hover{
    background: linear-gradient(90deg, rgba(11,21,136,1) 0%, rgba(16,43,240,1) 19%, rgba(139,52,185,1) 35%, rgba(172,64,93,1) 58%, rgba(209,115,6,1) 94%);

}


#div_wpp{
    background-color: rgba(255, 255, 255, 0);
    height: 40px;
    width: 40px;
    margin-left: 20px;
    border-radius: 30%;
}

#div_wpp:hover{
    background: linear-gradient(90deg, rgba(23,129,34,1) 5%, rgba(24,115,44,1) 94%);
    
}

#div_mail{
    background: rgba(119, 48, 48, 0);
    height: 40px;
    width: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
}

#div_mail:hover{
    background: linear-gradient(90deg, rgba(98,157,190,1) 5%, rgba(78,125,154,1) 94%);
}

#footer_icon{
    color: rgb(255, 255, 255);
    font-size: 40px;
}

#rankig-spotify{
    height: auto;
    width: 100%;
    background-color: black;

}

#top-billboard{
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#top-songs{
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.position-rank{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 300px;
    min-width: 300px;
    padding: 15px;
    margin: 10px 10px 10px 10px;
    /* border: 3px solid white; */
}

.top-rank{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: rgb(0, 0, 0);
    font-size: 60px;
    padding-bottom: 20px;
}

.title-rank{
    
    font-family: 'Quicksand', sans-serif;
    color: rgb(133, 133, 133);
    margin-top: 10px;
}

.artist{
    font-weight: 600;
}

.logo-spotify{
    height: 70px;
    width: 70px;
    margin-left: 40px;
    margin-right: 40px
}

.song-rank{
    background-color: rgb(0, 0, 0);
    color: white;
    max-width: 330px;
    width: 280px;
    padding: 15px;
    margin: 10px 10px 10px 10px;
    height: 400px;
}

.portada{
    height: 250px;
    width: 250px;
    cursor: pointer;
    border-radius: 3%;
}

.episode:hover{
    opacity: 0.5;
    transition: 300ms;
}


.song{
    font-size: 20px;
    margin-top: -15px;
    
}

.song-artist{
    font-size: 15px;
}

.rank{
    font-size: 13px;
}

.reproductor{
    height: 250px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
